<!DOCTYPE html>
<html>

<head>
    <title>Lista de Bares</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>
    <div class="text-center">
    
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>

                </tr>
            </thead>
            <th:block th:each="usuario : ${personas}">
                <tr>
                    <td th:text="${usuarios.id}"></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{personas/new}' class="btn btn-primary">Añadir persona</a>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>